.vs
.artifacts
packages
bin
obj
integration/temp
coverage.json
**/site/api/*.yml
**/site/api/.manifest
**/site/manifest.json
**/site/schema/
testResults.xml
coverage.xml
coverage.cobertura.xml
*.trx
*.DotSettings.user
