#logo {
    height:40px;
    padding-top:15px;
}

.affix {
    height: auto !important;
}

.affix > ul > li.active:last-child {
    margin-bottom: 0px !important;
}

#shields {
    padding-left: 10px;
}